
/*  ARTICLE SECTION */
 #articles{
    padding:7% 15%;
    background-image: url("../images/article-bg.jpg");
    color: #fff;  
}

.article-heading{
    font-size:3rem;
    line-height: 1.5;
    font-weight: bold;
  }

  .article-item{
    padding: 7% 15% ; 
    background-color:#000;
    width: 100%;
    height: 500px;
    overflow-y: auto;     /* add vertical scroll bar for long article */
  } 

  /*  hiding  scrollbar but keeping functionality for article-item */
  .article-item::-webkit-scrollbar {
    display: none;            /*Chrome*/
  }
  .article-item{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
