/* nav css */


.navbar h4 {
	color: #337AB7;
	
}
.navbar{
	background-color: #f8f8f8;
}



/* contact us */

.contactUs {
    font-family: 'Montserrat';
  }
  
  .contactUs h1,.contactUs h2,.contactUs h3,.contactUs h4,.contactUs h5,.contactUs h6{
    font-family: "Montserrat-bold";
  }

/* CONTACT HEADER */
#contact-section {
    margin : 100px 30px;
}

.contact-header{
    padding:7% 15%;
    text-align: center;
     background-color: #252525;
    color: #fff;
}
.headline-text{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;   
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.contact-content{
    padding:7% 15%;
}

/* CONTACT INFO SECTION */
.contact-info-column ,.contact-info-column a{
   background-color: #0a97b0;
   color:#fff;
}
.contact-info{
    padding: 2rem;  

}


/* CONTACT FORM */
.contact-form{
    padding-top: 2rem; 
}


.social-icon{
    margin: 20px 10px;
}
.submit-button{
      background:#0a97b0 ;
}
.submit-button:hover{
    background:#12cad6;
}

/* footer */
.footer{
	width: 100%;
	background: #001018;
	display: block;

}

.footer img{
    height : 120px;
    width : 120px;
    margin-top: 30px;
}
.inner-footer
{
	width: 100%;
	margin: auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap; 
	box-sizing: border-box;
	justify-content: center;
}
.footer-items
{
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;

}

.footer-items h1{
	padding: 10px 0;
	font-size: 25px;
	text-transform: uppercase;
}

.footer-items p{
	color: grey;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}
.footer-items h2
{
	margin: 10px 0;
	color: grey;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
}

.border
{
	height: 2px;
	width: 40px;
	background: #ff9800;

}
div.footer ul
{
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;

}
div.footer ul a
{
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;

}
div.footer ul a:hover
{
	color: #ff9800;

}

div.footer ul li
{
	margin: 10px 0;
	height: 25px;

}
div.footer li i
{
	margin-right: 20px;

}
 .social-media
{
	width: 100%;
    color: #fff;
    text-align: center;
}
 .social-media a{
	text-decoration: none;
}
 .social-media i
{
	height: 40px;
	width: 40px;
	margin: 20px 5px;
	padding: 10px;
	color: #fff;
	border-radius: 50%;
	border: 1px solid grey;
	transition: 0.3s;
	text-align: center;

}
 .social-media i:hover
{
	background: grey;
}

.footer-bottom
{
	padding: 10px;
	background: #3d545f;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

@media(max-width: 991px){
	.footer-items{
		width:50%;
		margin-bottom:1rem;
		padding:0px 8px;
		height:23rem;
	}

}

@media(max-width:550px){
	.footer-items{
		width:100%;
		margin-bottom:1rem;
		padding:0px 4px;
		height:23rem;
	}
}